html{
	background-color:black;
}
body{
	
	background-color:black;
	color: #c3c9cc;
	font-size:35px;
	text-shadow: 0px 12px 5px black;
	font-family: "Lucida Console" Monaco, monospace;
	max-width:1000px;
	min-width:250px;
	margin:0 auto;
	text-align: center;
}
.main{
	background-image: url(images/background.png);
	/*margin:60px;*/
	border-radius:75px;
	box-shadow: 0 0 20px 10px black inset;
	padding: 20px 0;
}
.home{
	background-image: url(images/home_background.png);
}
h1{
	margin-top:0;
	font-size:90px;
}
h2{
	font-size:70px;
	
}
header,footer{
	background-image: url(images/bullet.png);
	position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
	left:0;
	height:16px;
}
header{
	top:0;
	border-top: 3px solid black;
	border-bottom: 3px solid white;
}
footer{
	bottom:0;
	border-top: 3px solid white;
	border-bottom: 3px solid black;
}
#logo{
	width:500px;
	height:300px;
	border-radius: 50px;
	box-shadow: 0px 12px 18px 12px black;
}
@media screen and (min-width: 600px) {
	.menuitem{
		display:inline-block;
		text-align:center;
		margin:auto 20px;
	}
	.body{
		min-width:680px;
	}
}

.description{
	text-align:center;
	margin:0px 100px;
	font-size:35px;
}
.menupic{
	width:250px;
	height:225px;
	border-radius: 150px;
	box-shadow: 0px 12px 18px 12px black;
}
a{
	text-decoration:none;
	color:#da8958;
	margin:auto 20px;
}

a:hover{
	color:blue;
}
.items{
	font-size:35px;
}

ul{
	list-style-image:url(images/bullet.png);
}
li a{
	color:white;
	line-height: 30px;
}
li{
	font-size:15px;
}
article{
	width:300px;	
}
nav{

	width: 300px;
}
article{
	display:inline-block;
	width:70%;
	margin-left:40px;
	text-align: center;
	
}
nav{
	display: inline-block;
	vertical-align: top;
	padding-right: 6px;
	width: 17%;
}
video{
	width:100%;
}
.vid{
	width:350px;
	margin:0 auto;
	border-radius:20px;
	overflow: hidden;
}
form *:not(:last-child){
	display:block;
	text-align: left;
	margin:20px auto;
	width:442px;
	
}
textarea{
	height:10em;
}
input[type=range]{
	width: 79%;
    margin-left: 7%;
}
input[type="submit"]{
	border-radius:7px;
}
img.rating{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: auto 4%;
}
.rating{
	text-align: center;
    padding: 0;
	margin:0 auto;
}
table {
    border-collapse: collapse;
    margin: 80px auto;
	color:white;
	text-shadow: none;
}
caption{
	font-size: 25px;
	border: 1px solid white;
	border-bottom: none;
}
th, td {
    border: 1px solid white;
	font-size:12px;
	padding: 8px 1px;
}

