<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Choose A Category
  </h1>
  <!-- <select [(ngModel)]="selectedCategory">
    <option *ngFor="let category of categories" value={{category}}> {{category.name}}</option>
  </select> -->

  <select ngModel="selectedCategory" ng-options="category.name for category in categories"></select>
  <hr>
  <h1>Items</h1>
  <ul>
    <app-category [category]="selectedCategory" [(ngModel)]="selectedCategory"></app-category>
  </ul>
</div>